body,
html {
  height: 100%;
}
body {
  padding: 5% 2% 0;
  background-color: var(--background-color);
  color: var(--color);
}

.card {
  background-color: var(--background-color);
  border: var(--border);
}

.modal-content {
  color: var(--color);
  background-color: var(--background-color);
}
button .btn-close {
  color: var(--color);
}

.form-control,
textarea,
.form-select,
#formFiles,
.wmde-markdown {
  background-color: var(--input-background-color);
  color: var(--color);
}
.w-md-editor-text-input {
  background-color: var(--input-background-color);
}

html[data-theme="dark"] {
  --background-color: #121416;
  --color: white;
  --border: 1px solid white;
  --input-background-color: #353b41;
}

html[data-theme="light"] {
  --border: 1px solid white;
  --background-color: white;
}
